<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FileUpload">
  <test thread-count="5" name="TC">
    <classes>
      <class name="com.TargetBay.testCases.TC_FileUpload_001"/>
      <class name="com.TargetBay.testCases.TC_Formfillup_002"/>
    </classes>
  </test> <!-- TC -->
</suite> <!-- FileUpload -->
